.contenedor_general {
    width: 80%;
    max-width: 900px;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
}
.titulo-portafolio {
    text-align: center;
    color: rgb(0, 0, 0);
   
    border: 2px solid white;
   margin: 18px;
   background-color: #F8F8FF;
   border-radius: 100px;

}

.Contenedor_principal {
    background-color:  #D0C3FC;
    padding: 20px;
    display: flex;
    justify-content: center;
}


.Contenedor_trabajos {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 10px; 
    background-color: white;
    padding: 20px;
   
}


.item {
    background-color: #F8F8FF;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    border: 2px solid black;
}
.item:hover {
    transform: scale(1.05); 
}

.img1{
    width: 100%;
    height: 200px;

    border-radius: 10px;
}


a {
    color: blue;
    text-decoration: none;
}



.boton{
    border: 2px solid black;
    width: 200px;
    background-color: aliceblue;
    font-size: 25px;

}
.boton:hover{
    background-color: rgb(199, 199, 255);
    border-radius: 20px;
}



/* RESPONSIBIDAD */
@media  (max-width: 750px) {
    .Contenedor_trabajos {
        grid-template-columns: 1fr;
        width: 90%; 
    }
    
    .img1 {
        height: 150px;
    }

    .boton {
       font-size: 25px;
        padding: 3px 0;
    }
}


@media  (max-width: 500px) {
    .Contenedor_principal {
        padding: 10px;
    }

    .Contenedor_trabajos {
        width: 95%;
        padding: 10px;
    }

    .item {
        padding: 15px;
    }

    .img1 {
        height: 120px; 
    }

    .boton {
        width: 130px;
        font-size: 25px; 
    }
}
