


.Contenedor_principal {
    background-color: blue;
    padding: 20px;
    display: flex;
    justify-content: center;
}


.Contenedor_trabajos {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 10px; 
    width: 80%;
    max-width: 900px;
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}


.item {
    background-color: lightgray;
    text-align: center;
    padding: 20px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
}
.item:hover {
    transform: scale(1.05); 
}

.img1{
    width: 100%;
    height: 200px;

    border-radius: 10px;
}


a {
    color: blue;
    text-decoration: none;
}



.boton{
    border: 2px solid black;
    width: 200px;
    background-color: aliceblue;
    font-size: 25px;

}
.boton:hover{
    background-color: rgb(199, 199, 255);
}



/* RESPONSIBIDAD */
@media screen and (max-width: 600px) {
    .Contenedor_trabajos {
        grid-template-columns: 1fr;
        width: 90%; 
    }
    
    .img1 {
        height: 150px;
    }

    .boton {
       font-size: 25px;
        padding: 3px 0;
    }
}


@media screen and (max-width: 400px) {
    .Contenedor_principal {
        padding: 10px;
    }

    .Contenedor_trabajos {
        width: 95%;
        padding: 10px;
    }

    .item {
        padding: 15px;
    }

    .img1 {
        height: 120px; 
    }

    .boton {
        width: 130px;
        font-size: 25px; 
    }
}
