

.Contenedor_informacion{
    display: grid;  
    grid-template-columns: 1fr 3fr;
}
h1{
    margin: 15px;
    font-size: 40px;
}
.Columna1{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.Numero{
    margin: 30px; 
    font-size: 25px; 
   
}

.Img{
    text-align: center;
}

.Img1{
    width: 300px;
    border-radius: 1000px;
    margin-top: 20px;
    border: 5px solid black;
}
.Img2{
    width: 300px;
    height: 200px;
   
   
}


.Padre{
    display: grid;
    grid-template-columns: 40px auto; 
   
    gap: 10px; 
}
.padrei{
    height: 60px;
    width: 50px;
    margin: 15px;
}
.Idioma_colum {
    display: flex;
    align-items: center; 
    gap: 20px; 
   
}

.Info_i {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}
.img9 {
  height: 210px;
}
.Idioma{
    margin: 15px;
    font-size: 25px;
}


/* COLUMNA 2 */
.Nombre1{
    margin: 20px;
}
.Columna2{
 background-color: #2d2e29;
 color: white;
}

.img3{
    margin-top: 15px;
   height: 250px;
   width: 70px;
   
}



.Nombre{
    font-weight: 300;
    color:  #b4db04da;
    font-size: 90px;
}
.Subnombre{
    font-size: 90px;
    color: #b4db04da;

}
h3{
    font-size: 30px;
    margin-bottom: 30px;
}
.Titulo{
    background-color:  #b4db04da;
  color: black;
  width: 200px;
  text-align: center;
  font-size: 30px;
}
.Education{
    margin: 20px;
    font-size: 25px;
}
p{
    max-width: 600px;
    font-size: 25px;
    
}

.fecha1{
  margin: 30px;
}

.Color_t{
    color:  #b4db04da;
}
.fecha2{
    display: flex;
    flex-direction: row;
}
.Fecha3{
    display: flex;
    flex-direction: row;
}
.img4{
    height: 400px;
    width: 70px;
    margin-top: 20px;
}
*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* Responsibidad */
@media(max-width:700px){
    .Contenedor_informacion{
        display: grid;
        grid-template-columns: 1fr;
}

}
@media(max-width:800px){
 .Numero{
    font-size: 30px;
 }
 .Idioma{
    font-size: 30px;
 }
 .img9{
    height: 250px;
 }
}

@media(max-width:500px){
    .Numero{
        font-size: 20px;
    }
    .padrei{
        width: 40px;
        height:40px ;
    }
    .Idioma{
        font-size: 20px;
    }
    .img9{
        height: 190px;
    }
    .Nombre{
        font-size: 70px;
    }
    .Subnombre{
        font-size: 70px;
    }
    .Education{
        font-size: 20px;
    }
    p{
        font-size: 20px;
    }
    .Color_t{
        font-size: 20px;
    }
    .img3{
        height: 200px;
    }
}

@media(max-width:450px){
    .img3{
   height: 250px;
    }
}




